name: Celery Crossover Release Pypi
on:
  workflow_run:
    workflows: ["Celery Crossover Tests"]
    tags:
    # Run on tags

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools setuptools_scm twine wheel
    - name: Create packages
      run: python setup.py sdist bdist_wheel
    - name: Run twine check
      run: twine check dist/*
    - name: Publish a Python distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
